APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

FILESYSTEM_DRIVER=local
S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SPARKPOST_API_KEY=a9b6f67315a6ba7d6eee1937f9c0604b94e122c2

MAIL_FROM_DOMAIN=sparkpostbox.com

#MAIL_DRIVER=smtp
#MAIL_HOST=smtp.sparkpostmail.com
#MAIL_PORT=587
#MAIL_USERNAME=SMTP_Injection
#MAIL_PASSWORD=a9b6f67315a6ba7d6eee1937f9c0604b94e122c2
#MAIL_ENCRYPTION=tls

MAIL_DRIVER=sendmail
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl

BUGSNAG_API_KEY=
